@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager

@code {
    string SERVER_URL;

    bool inGame = false;
    HubConnection hubConnection;
    string tableId;

    protected override async Task OnInitializedAsync()
    {
        SERVER_URL = NavigationManager.BaseUri;
        hubConnection = new HubConnectionBuilder()
            .WithUrl(SERVER_URL + "connect")
            .Build();
        await RefreshTable();

        await base.OnInitializedAsync();
    }

    List<string> tables = new();
    async Task RefreshTable()
    {
        HttpClient httpClient = new();
        tables = await httpClient.GetFromJsonAsync<List<string>>(SERVER_URL + "Api/GetTables");
    }

    async Task CreateGame()
    {
        await hubConnection.StartAsync();
        this.tableId = Guid.NewGuid().ToString();
        await hubConnection.SendAsync("JoinTable", tableId);
        inGame = true;
    }

    async Task JoinGame(string tableId)
    {
        isWhitePlayer = false;
        this.tableId = tableId;
        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinTable", tableId);
        inGame = true;

    }
    bool isWhitePlayer = true;

}
<p>@SERVER_URL</p>

@if (inGame)
{
    <Checkerboard hubConnection="hubConnection" TableId="@tableId" IsWhitePlayer="@isWhitePlayer"/>
}
else
{
    <button id="createGame" @onclick="CreateGame">Create Game</button>

    @foreach(string table in tables)
    {
        <button id="joinTable" @onclick="()=> JoinGame(table)">Join Table @table</button>
    }

}
